{% extends "base/base.html" -%}
{% block content -%}
<section>

<table id="pricing_table" class="ui very basic collapsing celled table">
    <thead>
    <tr>
        <th>Angebot</th>
        <th>Preis</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1 Kurseinheit pro Woche (90min)</td>
        <td>50,-€</td>
    </tr>
    <tr>
        <td>Kombi Yoga + Zusatzangebot</td>
        <td>65,-€</td>
    </tr>
    <tr>
        <td>2 Kurseinheiten pro Woche </td>
        <td>75,-€</td>
    </tr>
    <tr>
        <td>Einzelstunden im Kurs</td>
        <td>20,-€</td>
    </tr>
    <tr>
        <td>1 Kurseinheit pro Woche Yoga für Kinder (60min) <br>(für Kinder bis 12 Jahre)</td>
        <td>40,-€</td>
    </tr>
    <tr>
        <td>Einzelunterricht (60min) <br></td>
        <td>65,-€</td>
    </tr>

    <tr>
        <td>Einzelunterricht (75min)</td>
        <td>80,-€</td>
    </tr>
    <tr>
        <td>Zusatzangebote 1x pro Woche <br> (z.B. Atemtechniken, Meditation, ...)</td>
        <td>25,-€</td>
    </tr>
    <tr>
        <td>Probestunde</td>
        <td>10,-€</td>
    </tr>

    </tbody>
</table>
</section>

{%- endblock content %}

{% block footer -%}
{%- endblock footer %}


