<div class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_1.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_2.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_3.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_4.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_5.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_6.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_7.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_8.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_9.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_10.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_11.jpg') }}"></img></li>
			<li class="splide__slide" style="width: auto"><img height="550"src="{{ url_for('static', filename='images/studio/studio_12.jpg') }}"></img></li>

		</ul>
	</div>
</div>





